venv/
__pycache__/
*.pyc
.DS_Store
settings.json
.env
.streamlit/secrets.toml
**/.streamlit/secrets.toml

# Google Auth
credentials.json
token.pickle
generated_presentation.pptx
generate_cloud_secrets.py
